<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Creative Weather"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:networkSecurityConfig="@xml/network_config">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ClothingActivity" android:label="ClothingPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingActivity" android:label="SettingPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".PopupActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PopActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".db.DBInit"
            android:screenOrientation="portrait"/>
        <activity android:name=".db.ShowListView"
            android:screenOrientation="portrait"/>
        <receiver
            android:name=".WeatherAppWidgetProvider"
            android:label="Creative Weather">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configue"/>
        </receiver>

        <activity android:name=".AppWidgetConfig"> </activity>

    </application>
</manifest>